<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="bluerov2" params="namespace:=chatboat">
    <link name="${namespace}/base_link">
      <visual>
        <geometry><box size="0.457 0.338 0.254"/></geometry>
        <material name="blue"><color rgba="0.2 0.4 0.8 1.0"/></material>
      </visual>
      <collision>
        <geometry><box size="0.457 0.338 0.254"/></geometry>
      </collision>
      <inertial>
        <mass value="11.0"/>
        <inertia ixx="0.16" ixy="0" ixz="0" iyy="0.16" iyz="0" izz="0.16"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
