<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Magnetic gripper end-effector -->

  <xacro:macro name="gripper" params="parent">

    <!-- Gripper tip with permanent magnet -->
    <link name="gripper_tip">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
        <material name="magnet_red">
          <color rgba="0.8 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00007" ixy="0" ixz="0" iyy="0.00007" iyz="0" izz="0.00007"/>
      </inertial>
    </link>
    <joint name="gripper_tip_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="gripper_tip"/>
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
    </joint>

    <!-- End-effector frame (control reference point) -->
    <link name="ee_frame"/>
    <joint name="ee_frame_joint" type="fixed">
      <parent link="gripper_tip"/>
      <child link="ee_frame"/>
      <origin xyz="0.03 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>
